// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
background-color: #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body{
padding-top: 5rem;
}
form.add{
padding-bottom: 10px;
}
.pull-right{
float: right;
}
.action > .btn{
padding: 1px 7px 1px;
}
.oi{
font-size: small;
}

.termine{
    background-color: lightgreen;
}

